@import 'mixins';

.navbar {
  align-items: center;
  background-color: $surface-color;
  box-shadow: 0 2px 15px 0 $box-shadow;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;

    &__navbar-links ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    &__navbar-links li {
      list-style: none;
    }

    &__navbar-links li a {
      display: inline-block;
      padding: 1.5rem;
      text-decoration: none;
    }

    &__navbar-links li:hover {
      background-color: $nav-background;
    }

    &__li {
      align-content: space-between;
      align-items: center;
      display: inline-flex;
      flex-wrap: nowrap;
    }

    &__active-button {
      background-color: $menu-icon;
      color: $font-lite;
      margin-right: auto;
    }

    &__logo {
      cursor: pointer;
      height: 29px;
      padding-left: 40px;
    }
}
 
.grid01 {
  display: grid;
  grid-template-columns: 524px 524px 392px;
  grid-template-rows: 680px;

    &__col02 h1 {
      margin-bottom: 37px;
    }

    &__input {
      background-color: $surface-color;
      box-shadow: 0 2px 15px 0 $box-shadow;
      border: transparent;
      height: 32px;
      margin: 23px 0 25px;
      padding: 9px 117px 9px 23px;
      width: 172px;
    }

    &__hint {
      color: $hint-color;
      font-family: TradeGothic;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 32px;
      line-height: 2.29;
      letter-spacing: normal;
      margin: 6px 0 14px 200px;
      width: 112px;
    }

    &__h4 {
      color: $h4-color;
      font-family: TradeGothic;
      font-size: 32px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 40px;
      line-height: 1;
      letter-spacing: normal;
      margin: 37px 0 13px;
      text-align: left;
      width: 312px;
    }

    &__button {
      background-color: $button-primary;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 19px 0 $button-box-shadow;
      color: $font-lite;
      display: inline-flex;
      font-family: ITCFranklinGothicStd-Med;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      height: 50px;
      justify-content: space-between;
      line-height: normal;
      letter-spacing: normal;
      margin: 0 9.1px 40.7px 0;
      padding: 12px 29.9px 12px 39px;
      text-align: left;
      width: 243px;
    }

    &__col01 img{
      object-fit: cover;     
      width: -webkit-fill-available;
      height: -webkit-fill-available;
    }
    &__des {
      padding-bottom: 200px;
      position: relative;
    }

    &__des::after {
      content: url('//src/assets/img/symbol_arrow_orange.png');
      left: 10px;
      position: absolute;
    }

    &__arrow {
      transform: rotate(90deg);
      bottom: 0;
    }

    &__col02 {
      padding: 171px 158px 0px 62px;
    }

    &__col03 {
      padding: 3px 40px 0;
  }
}
.grid02 {
    display: flex;
    flex-direction: row;
    padding: 120px 128px 10px 141px;

    &__h4 {
      color: #393939;
      font-family: TradeGothic;
      font-size: 60px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 127px;
      letter-spacing: normal;
      line-height: 1.07;
      margin: 74px 0 2px 41px;
      position: relative;
      text-align: left;
      width: 415px;
      z-index: 3;
    }

    &__h4::before {
      content: url('../assets/img/title.png');
      left: -95px;
      position: absolute;
      top: -100px;     
    }

    &__overlay {
      opacity: 0.6;
      position: relative;
      top: -205px;
      width: 250px;
      z-index: 2;
    }

    &__header {
      color: $header-color;
      font-family: TradeGothic;
      font-size: 28px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 32px; 
      line-height: 1.14;
      letter-spacing: normal;
      margin: 0 75px 30px 0;
      text-align: left;
      width: 165px;
    }

    &__img {
      height: 100px;
      margin: 30px 140px 28px 0;
      padding: 27px 0 23px;
      width: 100px;
    }

    &__p {
      color: $pra-color;
      height: 84px;
      margin: 28px 0 0;
      font-family: TradeGothic;
      font-size: 19px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      padding: 0 20px 67px 0;
      text-align: left;
      width: 240px;
    }

    &__btn {
      align-items: center;
      background-color: $button-background;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 $box-shadow;
      color: $button-primary;
      cursor: pointer;
      display: inline-flex;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      height: 50px;
      justify-content: space-between;
      justify-items: center;
      line-height: normal;
      letter-spacing: normal;
      padding: 8px 24px 11px 29px;
      text-align: left;
      width: 282px;
    }
}

.grid03 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 104px 119px 10px 345px;
  
  &__h4 {
    color: $h4-color;
    font-stretch: normal;
    font-style: normal;
    font-family: TradeGothic;
    font-size: 40px;
    font-weight: 300;
    height: 92px;
    line-height: 1.15;
    letter-spacing: normal;
    padding-top: 80px;
    position: relative;
    text-align: left;
    width: 256px;
  }

  &__h4::before {
    content: url('../assets/img/title.png');
    left: -95px;
    position: absolute;
    top: -100px;     
  }

  &__paragraph {
    color: $pra-color;
    font-family: TradeGothic;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    height: 84px;
    line-height: 1.47;
    letter-spacing: normal;
    padding-bottom: 32px;
    text-align: left;
    width: 268px;
  }

  &__button {
    align-items: center;
    background-color: $button-background;
    border: transparent;
    border-radius: 30px;
    box-shadow: 0 2px 15px 0 $box-shadow;
    color: $button-primary;
    cursor: pointer;
    display: inline-flex;
    font-family: ITCFranklinGothicStd;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    height: 50px;
    justify-content: space-between;
    justify-items: center;
    line-height: normal;
    letter-spacing: normal;
    padding: 8px 24px 11px 29px;
    text-align: left;
    width: 268px;
  }

  &__header {
    color: $h4-color;
    font-family: TradeGothic;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    height: 46px;
    line-height: 1.15;
    letter-spacing: normal;
    padding: 0 0 30px 0;
    position: relative;
    text-align: left;
    width: 359px;
  }

  &__header::before {
    content: url('../assets/img/title.png');
    left: -95px;
    position: absolute;
    top: -100px;     
  }

  &__button {
    align-items: center;
    background-color: $button-background;
    border: transparent;
    border-radius: 30px;
    box-shadow: 0 2px 15px 0 $box-shadow;
    color: $button-primary;
    cursor: pointer;
    display: inline-flex;
    font-family: ITCFranklinGothicStd;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    height: 50px;
    justify-content: space-between;
    justify-items: center;
    line-height: normal;
    letter-spacing: normal;
    padding: 8px 24px 11px 29px;
    text-align: left;
    width: 242px;
  }

  &__pa {
    background-color: $menu-icon;
    color: $surface-color;
    font-family: ITCFranklinGothicStd-Med;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    padding: 12px 119px 11px 39px;
    text-align: left;
  }

  &__details {
    color: $pra-color;
    font-family: TradeGothic;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    padding: 35px 45px 10px 40px;
    text-align: left;
    margin-bottom: 46px;
  }
}

.grid04 {
  display: grid;

    &__col02 {
      text-align: center;
    }

    &__header{
      color: $header-color;
      font-family: TradeGothic;
      font-size: 60px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 127px;
      line-height: 1.07;
      letter-spacing: normal;
      margin: 74px 0 2px 263px;
      position: relative;
      text-align: left;
      width: 504px;
    }

    &__header::before {
      content: url('../assets/img/title.png');
      left: -95px;
      position: absolute;
      top: -100px;     
    }

    &__overlay {
      opacity: 0.6;
      position: relative;
      top: -160px;
      width: 250px;
      z-index: 2;
    }

    &__col02 table {
      background-color: $surface-color;
      padding: 0 40px 40px 261px;
      width: 100%;
    }

    &__col02 th {
      padding: 19px 144px 19px 38px;  
      text-align: left; 
    }

    &__col02 td {
      background-color: $td-color;
      margin: 70px 0;
      opacity: 0.55;
      padding: 21px 51px 21px 79px;
      text-align: left;
    }

    &__col04-button {
      align-items: center;
      background-color: $button-background;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 $box-shadow;
      color: $button-primary;
      cursor: pointer;
      display: inline-flex;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      height: 50px;
      justify-content: space-between;
      justify-items: center;
      line-height: normal;
      letter-spacing: normal;
      padding: 8px 24px 11px 29px;
      text-align: left;
      width: 307px;
    }
}

.grid05 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 121px 257px 0 141px;
  grid-gap: 53px;
  
    &__header {
      color: $header-color;
      font-family: TradeGothic;
      font-size: 60px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 127px;
      line-height: 1.07;
      letter-spacing: normal;
      margin: 74px 0 2px 41px;
      position: relative;
      width: 278px;
    }

    &__header::before {
      content: url('../assets/img/title.png');
      left: -95px;
      position: absolute;
      top: -100px;     
    }

    &__overlay {
      opacity: 0.6;
      position: relative;
      top: -205px;
      width: 250px;
      z-index: 2;
    }

    // &__card {

    // }

    &__card h4 {
      color: $h4-color;
      font-family: TradeGothic;
      font-size: 28px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
    }

    // &__card img {
    //   height: 375px;
    //   width: 375px;
    // }

    &__card p {
      color: $pra-color;
      font-family: TradeGothic;
      font-size: 19px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 84px;
      line-height: 1.47;
      letter-spacing: normal;
      margin: 16px 18px 31px 0;
      text-align: left;
      width: 307px;
    }

    &__card button {
      align-items: center;
      background-color: $button-background;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 $button-background;
      color: $button-primary;
      cursor: pointer;
      display: inline-flex;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      height: 50px;
      justify-content: space-between;
      justify-items: center;
      line-height: normal;
      letter-spacing: normal;
      padding: 8px 24px 11px 29px;
      text-align: left;
      width: 242px;
    }
  }

.grid06 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

    &__card-header::before {
      content: url('../assets/img/title.png');
      left: -95px;
      position: absolute;
      top: -100px;     
    }

    &__overlay {
      opacity: 0.6;
      position: relative;
      top: -205px;
      width: 250px;
      z-index: 2;
    }

    &__col01 img{
      height: 440px;
      padding: 86px 40px 0 116px;
      width: 600px;
    }

    &__col02 {
      padding-right: 169px;
    }

    &__card-header {
      color: $header-color;
      font-family: TradeGothic;
      font-size: 60px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 127px;
      line-height: 1.07;
      letter-spacing: normal;
      margin: 74px 0 2px 41px;
      position: relative;
      text-align: left;
      width: 468px;
    }

    &__card p{
      color: $pra-color;
      font-family: TradeGothic;
      font-size: 19px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 140px;
      line-height: 1.47;
      letter-spacing: normal;
      margin: 39px 37px 42px 118px;
      text-align: left;
      width: 360px;
    }

    &__col02-button {
      align-items: center;
      background-color: $button-background;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 $box-shadow;
      color: $button-primary;
      cursor: pointer;
      display: inline-flex;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      height: 50px;
      justify-content: space-between;
      justify-items: center;
      line-height: normal;
      letter-spacing: normal;
      padding: 8px 24px 11px 29px;
      text-align: left;
      width: 250px;
    }
}

.grid07 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 680px;
  padding: 0 198px 139px 303px;

    &__tabs {
      border-top:  solid 1px $border-color;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &__button {
      align-items: center;
      background-color: $button-background;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 $box-shadow;
      color: $button-primary;
      cursor: pointer;
      display: inline-flex;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      height: 50px;
      justify-content: space-between;
      justify-items: center;
      line-height: normal;
      letter-spacing: normal;
      margin-top: 50px;
      padding: 8px 24px 11px 29px;
      text-align: left;
      width: 250px;
    }
}

.grid08 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

    &__col01 {
      padding: 0 261px 81px 297px ;
    }

    &__card p {
      color: $pra-color;
      font-size: 19px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      height: 140px;
      line-height: 1.47;
      letter-spacing: normal;
      margin: 131px 0 5px 0;
      padding: 0 0 30px;
      text-align: left;
      width: 400px;
    }

    &__card span {
      color: $pra-color;
      font-family: TradeGothic;
      font-size: 40px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      position: relative;
      text-align: left;
    }

    &__card span::before {
      bottom: -10px;
      content: url('../assets/img/title.png');
      left: -80px;
      position: absolute;
      width: 100px;
    }

    &__card button {
      align-items: center;
      background-color: $button-background;
      border: transparent;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 $box-shadow;
      color: $button-primary;
      cursor: pointer;
      display: inline-flex;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      height: 50px;
      justify-content: space-between;
      justify-items: center;
      line-height: normal;
      letter-spacing: normal;
      padding: 8px 24px 11px 29px;
      text-align: left;
      width: 250px;
    }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 172px 117px 23px 122px;
  background-color: $footer-color;

    &__col01 ul li {
      color: $list-color;
      font-family: TradeGothic;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      list-style: none;
      line-height: 1.78;
      letter-spacing: normal;
      margin: 24px 46.9px 0 0;
      text-align: left;
    }

    &__col01 a {
      color: $list-active;
      font-size: 18px;
      text-decoration: none;  
    }

    &__col02 ul li {
      color: $list-color;
      font-family: TradeGothic;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      list-style: none;
      line-height: 1.78;
      letter-spacing: normal;
      margin: 24px 46.9px 0 0;
      text-align: left;
    }

    &__heading {
      color: $header-color;
      font-family: TradeGothic;
      font-size: 28px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      margin: 0 0 34px;
      text-align: left;
    }
    &__mail {
      background-color: $surface-color;
      border: none;
      box-shadow: 0 2px 19px 0 $button-box-shadow;
      padding: 14px 39px 16px 39px;
      position: relative;
      width: 400px;      
    }

    &__input {
      size: 60px;
      display: flex;
      // overflow: hidden;
      font-size: 1.25em;
      position: relative;
      margin-left: auto;
      padding: 3px;
    }

    &__mail {
      background: transparent;
      border: 0;
      bottom: 0;
      color: $h4-color;
      cursor: pointer;
      flex-grow: 1;
      outline: 0;
      padding: .25em 1em;
      position: absolute;
      top: 0;
      left: 0;
      // opacity: 0;
      width: 100%;
      z-index: 2;
    }

    &__img {
      background: 0;
      border: 0;
      cursor: pointer;
      font-size: 1.5rem;
      margin-left: auto;
    }

    &__info {
      padding-top: 100px;
    }
}

[data-tab-content] {
    display: none;
}
  
.active[data-tab-content] {
    display: block;
}

.tabs {
  border-bottom:  solid 1px $tab-color;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.tab {
  color: $menu-icon;
  cursor: pointer;
  // width: 147px;
  // height: 42px;
  // margin: 0 14px 1px 1px;
  font-family: ITCFranklinGothicStd-Med;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.88;
  letter-spacing: normal;
  text-align: left;
}
  
.tab.active {
  // background-color: #CCC;
  position: relative;
}
  
  // .tab:hover {
  //   background-color: #AAA;
  // }
  
  // .tab-content {
  //   margin-left: 20px;
  //   margin-right: 20px;
  // }

.tab.active::after {
  background-color: var(--underline-color, currentColor);
  bottom: 0;
  content: "";
  height: var(--underline-size, 2px);
  left: 0;
  opacity: 0;
  position: absolute;
  transition: transform ease var(--animation-time, 200ms), opacity ease 0ms 200ms;
  width: 176px;
}
.profile{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__header {
    color: $header-color;
    font-family: TradeGothic;
    font-size: 60px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    padding: 118px 0 64px 0;
    text-align: left;
  }

  &__name {
    color: $menu-icon;
    font-family: TradeGothic;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
  }

  &__des {
    color: $pra-color;
    font-family: TradeGothic;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    height: 112px;
    line-height: 1.47;
    letter-spacing: normal;
    margin: 19px 0 0;
    text-align: left;
    width: 360px;
  }
  
  &__img {
    height: 426px;
    margin: 0 0 26px 120px;
    transform: rotate(-360deg);
    width: 362px;
  }
}

