@import 'mixins';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 15px 0 rgba(197, 197, 197, 0.5);
  }
  
  // .brand-title {
  //   font-size: 1.5rem;
  //   margin: 0.5rem;
  // }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style: none;
  }
  .navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
  }
  
  .navbar-links li:hover {
    background-color: #8a8787;
  }
  
  .toggle-button {
    position:absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: azure;
    border-radius: 10px;
  }
  
  .active-button {
    background-color: $menu-icon;
    color: $font-lite;
    margin-right: auto;
  }
  
  
//   img {
//     width: 100%;
//     height: 100vh;
//   }
  
  .logo {
    cursor: pointer;
    padding-left: 40px;
    height: 29px;
  }



  .li {
    display: inline-flex;
    justify-content: center;
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: space-between;
        align-items: center;
  }
  
  .grid01 {
    display: grid;
    grid-template-columns: 524px 524px 392px;
    grid-template-rows: 680px;

    &__col02 h1 {
      margin-bottom: 37px;
    }

    &__input {
      margin: 23px 0 25px;
      padding: 9px 117px 9px 23px;
      box-shadow: 0 2px 15px 0 rgba(197, 197, 197, 0.5);
      background-color: #fff;
      border: transparent;
    }

    &__h4 {
      width: 312px;
      height: 40px;
      margin: 0 0 13px;
      font-family: TradeGothic;
      font-size: 32px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
    }

    &__button {
      width: 243px;
      height: 50px;
      padding: 12px 29.9px 12px 39px;
      border-radius: 30px;
      box-shadow: 0 2px 19px 0 rgba(189, 189, 189, 0.34);
      background-color: #ff6319;
      margin: 0 9.1px 0 0;
      font-family: ITCFranklinGothicStd-Med;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      display: inline-flex;
      justify-content: space-between;
      border: transparent;
    }

    &__col01 img{
      object-fit: cover;     
      width: -webkit-fill-available;
      height: -webkit-fill-available;
    }

    &__col02 {
        padding: 171px 158px 0px 62px;
    }

    &__col03 {
      padding: 37px 40px 0;
  }

  }

  .grid02 {
    display: flex;
    flex-direction: row;
  }

  .grid03 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

  }

  .grid04 {
    display: grid;


    &__col01 h2{
      width: 504px;
      height: 127px;
      margin: 74px 0 2px 263px;
      font-family: TradeGothic;
      font-size: 60px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #393939;
    }

    &__col02 table {
      width: 100%;
      padding: 0 40px 40px 261px;
      background-color: #fff;

    }

    &__col02 th {
      padding: 19px 144px 19px 38px;   
    }

    &__col02 td {
      margin: 70px 0;
      padding: 21px 51px 21px 79px;
      opacity: 0.55;
      background-color: #f7f7f7;
    }

    &__col04-button {
      width: 307px;
      height: 50px;
      padding: 8px 24px 11px 29px;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 rgba(197, 197, 197, 0.5);
      background-color: #fff;
      border: transparent;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff6319;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      justify-items: center;
      cursor: pointer;
    }


  }

  .grid05 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 0 257px 0 141px;
    grid-gap: 53px;

    &__col01 {
      width: 278px;
      height: 127px;
      margin: 74px 0 2px 41px;
      font-family: TradeGothic;
      font-size: 60px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #393939;
    }

    // &__card {

    // }

    &__card h4 {
      font-family: TradeGothic;
      font-size: 28px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
    }

    // &__card img {
    //   height: 375px;
    //   width: 375px;
    // }

    &__card p {
      width: 307px;
      height: 84px;
      margin: 16px 18px 31px 0;
      font-family: TradeGothic;
      font-size: 19px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
    }

    &__card button {
      width: 242px;
      height: 50px;
      padding: 8px 24px 11px 29px;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 rgba(197, 197, 197, 0.5);
      background-color: #fff;
      border: transparent;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff6319;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      justify-items: center;
      cursor: pointer;
    }

  }

  .grid06 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    &__col01 img{
      width: 600px;
      height: 440px;
      // margin: 86px 40px 0 0;
      padding: 86px 40px 0 116px;
    }

    &__col02 {
      padding-right: 169px;
    }

    &__card-header {
      width: 468px;
      height: 127px;
      margin: 74px 0 2px 41px;
      font-family: TradeGothic;
      font-size: 60px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: normal;
      text-align: left;
      color: #393939;
    }

    &__card p{

        width: 360px;
        height: 140px;
        margin: 39px 37px 42px 118px;
        font-family: TradeGothic;
        font-size: 19px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: left;
        color: #2f2f2f;
    }

    &__col02-button {
      width: 250px;
      height: 50px;
      padding: 8px 24px 11px 29px;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 rgba(197, 197, 197, 0.5);
      background-color: #fff;
      border: transparent;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff6319;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      justify-items: center;
      cursor: pointer;
      margin-left: 118px;
    }

  }

  // .grid07 {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: 680px;

  //   height: 400px;
  //   margin: 85px 0 87px;
  //   transform: rotate(-5deg);
  //   opacity: 0.03;
  //   background-color: #004165;

  //   &__col01 {


  //   }

  //   &__col01 {


  //   }

  //   &__col01 {


  //   }



  // }

  .grid08 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__col01 {
      padding: 0 261px 81px 297px ;
    }

    &__card p {
      width: 400px;
      height: 140px;
      margin: 131px 0 5px 0;
 
      font-size: 19px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
      padding: 0 0 30px;
    
    }

    &__card span {
      font-family: TradeGothic;
      font-size: 40px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
    };

    &__card button {
      width: 250px;
      height: 50px;
      padding: 8px 24px 11px 29px;
      border-radius: 30px;
      box-shadow: 0 2px 15px 0 rgba(197, 197, 197, 0.5);
      background-color: #fff;
      border: transparent;
      font-family: ITCFranklinGothicStd;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff6319;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      justify-items: center;
      cursor: pointer;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 172px 117px 23px 122px;
    background-color: #f9f9f9;

    &__col01 ul li {
      list-style: none;
      margin: 24px 46.9px 0 0;
      font-family: TradeGothic;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.78;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
    }

    &__col01 a {
      color: orange;
      font-size: 18px;
      text-decoration: none;  
    }

    &__col02 ul li {
      list-style: none;
      margin: 24px 46.9px 0 0;
      font-family: TradeGothic;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.78;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
    }

    &__heading {
      margin: 0 0 34px;
      font-family: TradeGothic;
      font-size: 28px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: #2f2f2f;
    }
    &__mail {
      width: 400px;
      padding: 14px 39px 16px 39px;
      position: relative;
      box-shadow: 0 2px 19px 0 rgba(189, 189, 189, 0.34);
      background-color: #fff;
      border: none;
      
    }

    &__input {
      --size: 60px;
      border: 2px solid var(--clr-primary);
      display: flex;
      // overflow: hidden;
      font-size: 1.25em;
      position: relative;
      margin-left: auto;
      transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
      padding: 3px;
    }

    &__mail {
      border: 0;
      padding: .25em 1em;
      flex-grow: 1;
      outline: 0;
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: transparent;
      // opacity: 0;
      cursor: pointer;
      color: #2f2f2f;
    }

    &__img {
      font-size: 1.5rem;
      margin-left: auto;
      background: 0;
      border: 0;
      cursor: pointer;

    }

    // &__mail ::after {
    //   content: "";
    //   width:10px;
    //   height: 10px;
    //   left: 10;
    //   position: absolute;
      
    // }

    // &__img {
    //   position: absolute;
    //   top: -10;
    // }
  }


  
  

