@import 'colors';
@import 'layout';
@import 'mixins';
@import 'typo';

// *, *::before, *::after {
//   box-sizing: border-box;
// }

body {
  height: 100%;
  font-family: 'Source Serif Pro', serif;
}

* {
  margin: 0;
  padding: 0;
}

.fa-solid {
  margin-right: 5px;
}

.fa-circle-user::after, .fa-user-circle::after {
  content: "";
  padding-right: 9px;
}

